input#user_to_msg_input {
	display: block;
	width: 300px;
}

textarea#msg_input {
	width: 300px;
}

#chat_input_form {
	margin: 30px 5px;
}

div#output_container {
 border: 1px solid black;
	width: calc(50vw - 10px);
	float: left;
}

div#user_list_container {
	border: 1px solid black;
	width: 20vw;
	position: fixed;
	right: 20px;
	top: 20px;
}

#inputarea {
	width: 30vw;
	margin-bottom: 20px;
}

#inputarea form {
	width: 20vw;
	display: inline;

}